In [ ]:
Open Files

In [1]:
#se utiliza file del curso de ibm para replicar ejemplos

from pyodide.http import pyfetch
import pandas as pd

filename = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/example1.txt"

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())


await download(filename, "Example1.txt")

In [18]:
#tres modos de visualizar un archivo, w=write, r=read, a=append

a="Example1.txt"

file1=open(a,"r")

In [19]:
#colocar nombre del archivo

file1.name

'Example1.txt'

In [20]:
#vierifcar el modo en el que está

file1.mode

'r'

In [21]:
#como leer el archivo

FileContent = file1.read()
FileContent

'This is line 1 \nThis is line 2\nThis is line 3'

In [22]:
#imprimir el contenido del file

print(FileContent)

This is line 1
This is line 2
This is line 3

In [23]:
#verificamos que el contenido sean strings

type(FileContent)

str

In [24]:
#cerrar un archivo

file1.close()

In [27]:
#con el comando with as se puede abrir y cerrar automaticamente un archivo

with open(a, "r") as file1:
    FileContent = file1.read()
    print(FileContent)

This is line 1
This is line 2
This is line 3

In [29]:
#verificación de cierre de archivo

file1.closed

True

In [30]:
print(FileContent)

This is line 1
This is line 2
This is line 3

In [34]:
#leer cierta cantidad de caracteres

with open(a,"r") as file1:
    print(file1.read(7))

This is

In [35]:
#este ejercicio se puede hacer en multiples veces

with open(a,"r") as file1:
    print(file1.read(7))
    print(file1.read(2))
    print(file1.read(9))

This is
 l
ine 1
Th

In [43]:
#tambien se puede programar para leer de linea en linea

with open(a,"r") as file1:
    print(file1.readline())
    print(file1.readline())

This is line 1

This is line 2

In [44]:
#se puede escojer cuantos caracteres de una linea

with open(a,"r") as file1:
    print(file1.readline())
    print(file1.readline(4))

This is line 1

This

In [45]:
#uso de for loop en una lectura de archivo

with open(a,"r") as file1:
        i = 0;
        for line in file1:
            print("Iteration", str(i), ": ", line)
            i = i + 1

Iteration 0 :  This is line 1

Iteration 1 :  This is line 2

Iteration 2 :  This is line 3

In [50]:
#para guardar el texto como una lista se utiliza el nombre de archivo + comando .readline()

with open(a,"r") as file1:
    ListF=file1.readlines()

In [52]:
#imprimr una linea del file

ListF[1]

'This is line 2\n'

In [53]:
#escribir sobre un file, se utiliza otro ejemplo del curso de IBM

b="Example2.txt"

with open(b,"w") as writefile:
    writefile.write("Hola David")

In [57]:
#prueba de que está bien codificado

with open(b,"r") as writefile:
    print(writefile.read())

Hola David

In [71]:
#escribir varias lineas

with open(b,"w") as writefile:
    writefile.write("Hola David\n")
    writefile.write(" como estas")

In [72]:
#leer lineas escritas

with open(b,"r") as writefile:
    print(writefile.read())

Hola David
 como estas

In [73]:
#escreibir una lista en un archivo .txt

lines=("Hola David", "Como estas", "Excelente")
lines

('Hola David', 'Como estas', 'Excelente')

In [78]:
#aplicando un for loop

with open(b,"w") as writefile:
    for line in lines:
        print(line)
        writefile.write(line)

Hola David
Como estas
Excelente

In [79]:
#test de verificación

with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

Hola DavidComo estasExcelente

In [80]:
#utilizando el comando append= "a"

with open('Example2.txt', 'a') as testwritefile:
    testwritefile.write("This is line C\n")
    testwritefile.write("This is line D\n")
    testwritefile.write("This is line E\n")

In [81]:
#test

with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

Hola DavidComo estasExcelenteThis is line C
This is line D
This is line E

In [ ]:
#r+ : Reading and writing. Cannot truncate the file.
#w+ : Writing and reading. Truncates the file.
#a+ : Appending and Reading. Creates a new file, if none exists.

In [82]:
#probando a+

with open('Example2.txt', 'a+') as testwritefile:
    testwritefile.write("This is line E\n")
    print(testwritefile.read())

In [83]:
#Finally, a note on the difference between w+ and r+. Both of these modes allow access to read and write methods, however, opening a file in w+ overwrites it and deletes all pre-existing data.
#To work with a file on existing data, use r+ and a+. While using r+, it can be useful to add a .truncate() method at the end of your data. This will reduce the file to your data and delete everything that follows.
#In the following code block, Run the code as it is first and then run it with the .truncate()

In [86]:
#como copiar una texto en otro
#abres texto que vas a copiar en modo read, y abres el texto en el que lo vas a copiar a la vez en modo write
#colocas un for loop
#escribes sobre el nuevo texto

with open('Example2.txt','r') as readfile:
    with open('Example3.txt','w') as writefile:
          for line in readfile:
                writefile.write(line)

In [87]:
#verificacion

with open('Example3.txt','r') as testwritefile:
    print(testwritefile.read())

Hola DavidComo estasExcelenteThis is line C
This is line D
This is line E
This is line E

In [92]:
#como importar un documento desde la libreria de pandas

import pandas as pd

In [91]:
# Read data from CSV file

# csv_path = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/TopSellingAlbums.csv'
# df = pd.read_csv(csv_path)

from pyodide.http import pyfetch
import pandas as pd

filename = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/TopSellingAlbums.csv"

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())


await download(filename, "TopSellingAlbums.csv")
df = pd.read_csv("TopSellingAlbums.csv")

In [90]:
#para leer las primeras 5 lineas de la tabla, incluyendo encabezado se utiliza el comando .head()

df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0

In [ ]:
#para extrapolar una sola columna se utiliza la formula df[["nombre de la columna"]]

In [96]:
df[["Album"]]

                             Album
0                         Thriller
1                    Back in Black
2        The Dark Side of the Moon
3                    The Bodyguard
4                  Bat Out of Hell
5  Their Greatest Hits (1971-1975)
6             Saturday Night Fever
7                          Rumours

In [100]:
#para ver una columna como una serie se utiliza la formula x=df["nombre de la columna"]

x=df["Album"]
x

0                           Thriller
1                      Back in Black
2          The Dark Side of the Moon
3                      The Bodyguard
4                    Bat Out of Hell
5    Their Greatest Hits (1971-1975)
6               Saturday Night Fever
7                            Rumours
Name: Album, dtype: object

In [101]:
#para obtener esa columna como data frame solo es necesario usar el comando type

x=df["Album"]
type(x)

pandas.core.series.Series

In [102]:
#se puede imprimir diferentes columnas a la vez

df[["Album", "Artist", "Genre"]]

,Album,Artist,Genre
0,Thriller,Michael Jackson,"pop, rock, R&B"
1,Back in Black,AC/DC,hard rock
2,The Dark Side of the Moon,Pink Floyd,progressive rock
3,The Bodyguard,Whitney Houston,"R&B, soul, pop"
4,Bat Out of Hell,Meat Loaf,"hard rock, progressive rock"
5,Their Greatest Hits (1971-1975),Eagles,"rock, soft rock, folk rock"
6,Saturday Night Fever,Bee Gees,disco
7,Rumours,Fleetwood Mac,soft rock

In [103]:
#para acceder a una celda en especifico se utiliza el comando iloc[fila+1,columna+1]

df.iloc[2,0]

'Pink Floyd'

In [106]:
#tambien se puede identificar la columna ingresando su nombre entre comillas con el comando .loc

df.loc[3,"Artist"]

'Whitney Houston'

In [107]:
#partiendo la data

df.iloc[0:3, 1:4]

                       Album  Released   Length
0                   Thriller      1982  0:42:19
1              Back in Black      1980  0:42:11
2  The Dark Side of the Moon      1973  0:42:49

In [108]:
#mismo caso pero utilizando el comando .loc

df.loc[0:3, "Album"]

0                     Thriller
1                Back in Black
2    The Dark Side of the Moon
3                The Bodyguard
Name: Album, dtype: object